body {
    background: url('src/components/assets/journal-background.jpg');
    background-size: cover;
    font-family: 'Times New Roman', serif; /* Gives a classic book feel */
}

.book {
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 5px;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 400px;
    page-break-after: always;
    perspective: 1000px; /* Gives a 3D effect */
}

.content {
    padding: 20px;
    background-color: #f5f5dc; /* Beige, like a page in a journal */
    height: 100%;
}

/* Styling for buttons */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

#addRecipeForm {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    display: none; /* Hidden by default */
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}
