body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fffef0; /* Parchment color */
    z-index: -1; /* Ensures background is behind content */
    filter: url(#wavy2); /* Parchment effect */
}

.book {
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 5px;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 400px;
    page-break-after: always;
    perspective: 1000px;
}

.content {
    position: relative;
    z-index: 1; /* Ensures content is above background */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for navigation */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #45a049;
}

/* Styling for buttons */
button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f6b;
}

#app, #addRecipeForm {
    width: 75%; /* Adjust width as needed */
    box-shadow: 2px 3px 20px black;
    margin: 2em 0;
    padding: 2em;
    background-color: rgba(255, 254, 240, 0.7); /* Slightly transparent */
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}
